<h1>Log In Below:</h1>

<form method="post" action="/sessions">
<p><label for="email">Email</label>
<input type="text" name="email" required></p>
<p><label for="password">Password</label>
<input type="text" name="password" required></p>
<input type="submit" id="Log In" name="Log In">
</form>
