<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
<p><label for="name">Username</label>
<input type="text" name="name" required></p>
<p><label for="email">Email</label>
<input type="text" name="email" required></p>
<p><label for="password">Password</label>
<input type="text" name="password" required></p>
<input type="submit" id="Sign Up" name="Sign Up">
</form>
